/* .App {
  text-align: center;
} */

     
form { 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  padding: 3px; 
}

form input {
  width: 100%; 
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .2rem;
  font-size: 1.2rem;
}

li {
  list-style-type: none;
  padding: 1rem;
}

li:nth-child(odd) {
  color: blue; 
  background-color: aliceblue;
}